<section class="cities">
  <h2>Cities</h2>
  <div class="cities__menu">
    <div
      class="cities__menu__item form_add_city"
      [class.active]="getAddStatus() === true"
    >
      <button class="button_add_city" (click)="changeStatusForm()">+ Add city</button>

      <form class="form_add_city_open">
        <h3>Add city</h3>
        <div>
          <input type="text" name="newTitle" placeholder="City name..." [(ngModel)]="newTitle">
        </div>
        <div>
          <textarea
            name="newDesc" cols="30" rows="10"
            placeholder="Description of the city..."
            [(ngModel)]="newDesc"
          ></textarea>
        </div>
        <button type="submit" (click)="addCity()">Submit</button>
        <button class="button__cancel" (click)="changeStatusForm()">Cancel</button>
      </form>
    </div>

    <ng-container *ngFor="let city_item of cities">
      <div class="cities__menu__item" id="city{{city_item.id}}"
           *ngIf="city_item.country_id == getCurrentCountry()"
           [class.active_change]="city_item == activeItem"
      >
        <div class="cities__menu__item__main_info">
          <h3>{{city_item.title}}</h3>
          <p *ngIf="city_item.desc != ''; else emptyCity">{{city_item.desc}}</p>

          <ng-template #emptyCity>
            <p>This city is currently without a description.</p>
          </ng-template>

          <div class="cities__menu__item__changes">
            <div>
              <label>Edit title: &nbsp;</label>
              <input name="title" type="text" (input)="editTitle(city_item.id-1 ,$event)" [value]="city_item.title">
            </div>
            <div>
              <label>Edit desc:</label>
              <input type="text" (input)="editDesc(city_item.id-1 ,$event)" [value]="city_item.desc">
            </div>
          </div>

        </div>
        <div class="cities__menu__item__buttons">
          <button class="icon icon__add" (click)="editCity(city_item)">
            <img src="../../assets/image/edit.svg" alt="Edit city" title="Edit city">
          </button>
          <button class="icon icon__delete" (click)="deleteCity(city_item.id)">
            <img src="../../assets/image/trash.svg" alt="Delete city" title="Delete city">
          </button>
        </div>
      </div>
    </ng-container>

</div>
</section>
