.country-page{
  padding: 30px 0 40px;

  & > .container{
    display: flex;
  }

  & > .container > *:first-child{
    width: calc(25% - 30px);
    margin-right: 30px;
  }

  & > .container > *:nth-child(2){
    width: 75%;
  }

  & button:hover{
    cursor: pointer;
  }

  & input{
    margin-top: 10px;
    font-size: 12px;
    padding: 3px;
  }

  & label{
    font-size: 12px;
    padding-right: 10px;
  }
}
