/* You can add global styles to this file, and also import other style files */
*{
  font-family: 'Arial';
  color: #4d4d4d;
}

.container{
  max-width: 1140px;
  margin: 0 auto;
}

.icon{
  background-color: transparent;
  border: 0;
  padding: 0 8px;
  margin: 0;
  opacity: 0.7;

  &:hover{
    opacity: 1;
    cursor: pointer;
  }
}

.icon__add ,
.icon__delete{
  width: 32px;
  height: 30px;
}

@media all and (max-width: 768px){
  .container{
    padding: 0 15px;
  }

  .country-page > div{
    flex-direction: column;
  }

  .country-page > div > *{
    padding-top: 30px;
  }

  .country-page > div > *:first-child{
    padding-top: 0;
  }

  .icon{
    padding: 0 5px;
  }
}
